.home {
  padding-top: 100px;
}

.home-top {
  background: url("https://images.unsplash.com/photo-1678038541101-b8bfab374925");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 20px;
  text-align: right;
}

.home-top-in {
  color: white;
}

.home-top-in h3,
.home-top-in h1,
.home-top-in p {
  color: white; /* White font color */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Light text shadow */
  font-family: var(--font-p);
}

.home-top-in h3 {
  font-size: 1.2rem;
  font-weight: 500;
}   


.breadcrumb{
    padding: 10px 20px;
}